body{
  background-color:#fff;
  font-size:16px;
  color:#444;
  font-style: normal;
  /* padding: 0px 20px; */
}

.btn-primary{
  font:inherit;
  text-align: center;
  padding:10px;
  border:1px solid #aaa;
  background-color: #7F90FF;
  color:#fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover{
  background-color: #6674CC;
  cursor: pointer;
} 

.btn-link{
  color: #7F90FF;
  transition: all 0.2s ease-in-out;
}

.btn-link:hover{
  color: #6674CC;
  cursor: pointer;
}
.row+.row{margin-top:1rem;}